@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000100;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000100;
    --foreground: #ededed;
    --firstColor:#0251EF;
    --secondColor:#0E5FFE;
    --primarytext:#FFFFFF;
    --secondarytext:#999999;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;

}

.trianglel{
  background: linear-gradient(180deg, #0251ef, #000403, #000100)
}
.trianglel2{
  background: linear-gradient(200deg, #0251ef69, #000403, #000100)
}
html {
  scroll-behavior: smooth;
  overflow: visible;
}
.background{  
  width: 100%;
  height: 100%;
  background-color: #000100;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23000100%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%233473f25e%22 stroke-width=%221.8%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22%233473f208%22 d=%22M352.941 0h117.647v117.647H352.941z%22%2F%3E%3Cpath fill=%22none%22 d=%22M470.588 0h117.647v117.647H470.588z%22%2F%3E%3Cpath fill=%22%233473f225%22 d=%22M588.235 0h117.647v117.647H588.235z%22%2F%3E%3Cpath fill=%22none%22 d=%22M705.882 0h117.647v117.647H705.882zM1058.824 0h117.647v117.647h-117.647zM1176.471 0h117.647v117.647h-117.647zM1294.118 0h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22%233473f239%22 d=%22M1411.765 0h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22%233473f201%22 d=%22M1529.412 0h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1647.059 0h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22%233473f212%22 d=%22M1882.353 0H2000v117.647h-117.647z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 117.647h117.647v117.647H0zM117.647 117.647h117.647v117.647H117.647zM235.294 117.647h117.647v117.647H235.294z%22%2F%3E%3Cpath fill=%22%233473f24d%22 d=%22M588.235 117.647h117.647v117.647H588.235z%22%2F%3E%3Cpath fill=%22none%22 d=%22M941.176 117.647h117.647v117.647H941.176zM1176.471 117.647h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22%233473f21d%22 d=%22M0 235.294h117.647v117.647H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M588.235 235.294h117.647v117.647H588.235z%22%2F%3E%3Cpath fill=%22%233473f219%22 d=%22M705.882 235.294h117.647v117.647H705.882z%22%2F%3E%3Cpath fill=%22none%22 d=%22M823.529 235.294h117.647v117.647H823.529zM941.176 235.294h117.647v117.647H941.176zM1411.765 235.294h117.647v117.647h-117.647zM1529.412 235.294h117.647v117.647h-117.647zM1647.059 235.294h117.647v117.647h-117.647zM1764.706 235.294h117.647v117.647h-117.647zM1882.353 235.294H2000v117.647h-117.647z%22%2F%3E%3Cpath fill=%22%233473f21d%22 d=%22M0 352.941h117.647v117.647H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M470.588 352.941h117.647v117.647H470.588zM941.176 352.941h117.647v117.647H941.176zM1058.824 352.941h117.647v117.647h-117.647zM1294.118 352.941h117.647v117.647h-117.647zM1411.765 352.941h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22%233473f234%22 d=%22M1529.412 352.941h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22%233473f255%22 d=%22M1647.059 352.941h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1882.353 352.941H2000v117.647h-117.647zM0 470.588h117.647v117.647H0zM352.941 470.588h117.647v117.647H352.941zM470.588 470.588h117.647v117.647H470.588zM823.529 470.588h117.647v117.647H823.529zM941.176 470.588h117.647v117.647H941.176zM1176.471 470.588h117.647v117.647h-117.647zM1294.118 470.588h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22%233473f252%22 d=%22M1764.706 470.588h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 588.235h117.647v117.647H0zM117.647 588.235h117.647v117.647H117.647zM235.294 588.235h117.647v117.647H235.294zM470.588 588.235h117.647v117.647H470.588zM588.235 588.235h117.647v117.647H588.235z%22%2F%3E%3Cpath fill=%22%233473f221%22 d=%22M705.882 588.235h117.647v117.647H705.882z%22%2F%3E%3Cpath fill=%22%233473f23e%22 d=%22M823.529 588.235h117.647v117.647H823.529z%22%2F%3E%3Cpath fill=%22%233473f220%22 d=%22M941.176 588.235h117.647v117.647H941.176z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1058.824 588.235h117.647v117.647h-117.647zM1294.118 588.235h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22%233473f23e%22 d=%22M1411.765 588.235h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1529.412 588.235h117.647v117.647h-117.647zM1647.059 588.235h117.647v117.647h-117.647zM0 705.882h117.647v117.647H0z%22%2F%3E%3Cpath fill=%22%233473f216%22 d=%22M117.647 705.882h117.647v117.647H117.647z%22%2F%3E%3Cpath fill=%22none%22 d=%22M470.588 705.882h117.647v117.647H470.588zM705.882 705.882h117.647v117.647H705.882zM941.176 705.882h117.647v117.647H941.176zM1058.824 705.882h117.647v117.647h-117.647zM1411.765 705.882h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22%233473f23e%22 d=%22M1647.059 705.882h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22%233473f254%22 d=%22M117.647 823.529h117.647v117.647H117.647z%22%2F%3E%3Cpath fill=%22%233473f255%22 d=%22M470.588 823.529h117.647v117.647H470.588z%22%2F%3E%3Cpath fill=%22none%22 d=%22M588.235 823.529h117.647v117.647H588.235z%22%2F%3E%3Cpath fill=%22none%22 d=%22M705.882 823.529h117.647v117.647H705.882zM1294.118 823.529h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22%233473f247%22 d=%22M1411.765 823.529h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1529.412 823.529h117.647v117.647h-117.647zM1647.059 823.529h117.647v117.647h-117.647zM1882.353 823.529H2000v117.647h-117.647z%22%2F%3E%3Cpath fill=%22%233473f232%22 d=%22M117.647 941.176h117.647v117.647H117.647z%22%2F%3E%3Cpath fill=%22none%22 d=%22M235.294 941.176h117.647v117.647H235.294zM823.529 941.176h117.647v117.647H823.529zM941.176 941.176h117.647v117.647H941.176zM1058.824 941.176h117.647v117.647h-117.647zM1176.471 941.176h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22%233473f229%22 d=%22M1294.118 941.176h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1411.765 941.176h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22%233473f25c%22 d=%22M1529.412 941.176h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1647.059 941.176h117.647v117.647h-117.647zM1882.353 941.176H2000v117.647h-117.647zM0 1058.824h117.647v117.647H0zM117.647 1058.824h117.647v117.647H117.647zM352.941 1058.824h117.647v117.647H352.941zM588.235 1058.824h117.647v117.647H588.235z%22%2F%3E%3Cpath fill=%22%233473f23a%22 d=%22M705.882 1058.824h117.647v117.647H705.882z%22%2F%3E%3Cpath fill=%22none%22 d=%22M941.176 1058.824h117.647v117.647H941.176z%22%2F%3E%3Cpath fill=%22%233473f259%22 d=%22M1058.824 1058.824h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22%233473f24c%22 d=%22M1411.765 1058.824h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1529.412 1058.824h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22%233473f247%22 d=%22M1647.059 1058.824h117.647v117.647h-117.647z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1764.706 1058.824h117.647v117.647h-117.647zM0 1176.471h117.647v117.647H0zM470.588 1176.471h117.647v117.647H470.588zM705.882 1176.471h117.647v117.647H705.882zM823.529 1176.471h117.647v117.647H823.529zM941.176 1176.471h117.647v117.647H941.176zM1176.471 1176.471h117.647v117.647h-117.647zM1647.059 1176.471h117.647v117.647h-117.647zM1764.706 1176.471h117.647v117.647h-117.647zM235.294 1294.118h117.647v117.647H235.294z%22%2F%3E%3Cpath fill=%22%233473f237%22 d=%22M470.588 1294.118h117.647v117.647H470.588z%22%2F%3E%3Cpath fill=%22%233473f234%22 d=%22M588.235 1294.118h117.647v117.647H588.235z%22%2F%3E%3Cpath fill=%22none%22 d=%22M823.529 1294.118h117.647v117.647H823.529zM941.176 1294.118h117.647v117.647H941.176zM1058.824 1294.118h117.647v117.647h-117.647zM1411.765 1294.118h117.647v117.647h-117.647zM1764.706 1294.118h117.647v117.647h-117.647z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22 stop-opacity=%22.706%22%2F%3E%3Cstop offset=%2275.5%25%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
}

.s2{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: repeat;
    background: url(/download.jpg);  
  }
  
/* Add smooth gradient + overlay if needed */
.s2::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* dark overlay */
}
.background::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* dark overlay */
}
.learnmore{
  background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba(2, 81, 239,0.23);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.imgcontainer{
  background:url(/ray.png);
  background-size: cover;
}
.aboutdev{
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  box-shadow: -1px -8px 3px -7px rgba(2, 81, 239,0.5);
 background: linear-gradient(0.07383128568086761deg, var(--token-64bf095d-9ad7-4fc0-9f3c-f96ec87f9b9b, rgba(0, 85, 255, 0.08)) /* {"name":"Blue 8%"} */ 0%, var(--token-b6113dae-1252-48c9-8fac-f8a781d683c0, rgba(153, 153, 153, 0.1)) /* {"name":"Dark Grey 10%"} */ 100%)
}
.explore{
  box-shadow: rgba(0, 85, 255, 0.5) 0px 8px 40px 0px, rgba(255, 255, 255, 0) 0px 0px 10px 1px inset, rgba(0, 85, 255, 0.12) 0px 0px 0px 1px;
}